<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CachedManifest</key>
	<dict>
		<key>manifestData</key>
		<data>
		eyJkZWZhdWx0TG9jYWxpemF0aW9uIjoiZW4iLCJkZXBlbmRlbmNpZXMiOltd
		LCJkaXNwbGF5TmFtZSI6IktlZXAgR29pbmcgd2l0aCBBcHBzIiwicGFja2Fn
		ZUtpbmQiOnsicm9vdCI6e319LCJwbGF0Zm9ybXMiOlt7Im9wdGlvbnMiOltd
		LCJwbGF0Zm9ybU5hbWUiOiJpb3MiLCJ2ZXJzaW9uIjoiMTYuMCJ9XSwicHJv
		ZHVjdHMiOlt7Im5hbWUiOiJLZWVwIEdvaW5nIHdpdGggQXBwcyIsInNldHRp
		bmdzIjpbeyJkaXNwbGF5VmVyc2lvbiI6WyIxLjAiXX0seyJidW5kbGVWZXJz
		aW9uIjpbIjEiXX0seyJpT1NBcHBJbmZvIjpbeyJhcHBJY29uIjp7ImFzc2V0
		Ijp7Im5hbWUiOiJBcHBJY29uIn19LCJjYXBhYmlsaXRpZXMiOltdLCJzdXBw
		b3J0ZWREZXZpY2VGYW1pbGllcyI6WyJwYWQiLCJwaG9uZSJdLCJzdXBwb3J0
		ZWRJbnRlcmZhY2VPcmllbnRhdGlvbnMiOlt7InBvcnRyYWl0Ijp7fX0seyJs
		YW5kc2NhcGVSaWdodCI6e319LHsibGFuZHNjYXBlTGVmdCI6e319LHsicG9y
		dHJhaXRVcHNpZGVEb3duIjp7ImNvbmRpdGlvbiI6eyJkZXZpY2VGYW1pbGll
		cyI6WyJwYWQiXX19fV19XX1dLCJ0YXJnZXRzIjpbIkFwcCJdLCJ0eXBlIjp7
		ImV4ZWN1dGFibGUiOm51bGx9fV0sInRhcmdldE1hcCI6eyJBcHAiOnsiZGVw
		ZW5kZW5jaWVzIjpbeyJieU5hbWUiOlsiR3VpZGUiLG51bGxdfV0sImV4Y2x1
		ZGUiOltdLCJuYW1lIjoiQXBwIiwicGF0aCI6IkFwcCIsInJlc291cmNlcyI6
		W10sInNldHRpbmdzIjpbXSwidHlwZSI6ImV4ZWN1dGFibGUifSwiR3VpZGUi
		OnsiZGVwZW5kZW5jaWVzIjpbXSwiZXhjbHVkZSI6W10sIm5hbWUiOiJHdWlk
		ZSIsInBhdGgiOiJHdWlkZSIsInJlc291cmNlcyI6W3sicGF0aCI6Ikd1aWRl
		LnR1dG9yaWFsIiwicnVsZSI6eyJwcm9jZXNzIjp7fX19LHsicGF0aCI6IlJl
		c291cmNlc1wvQWRkQW5kRGVsZXRlQ3JlYXR1cmVzLnBuZyIsInJ1bGUiOnsi
		cHJvY2VzcyI6e319fSx7InBhdGgiOiJSZXNvdXJjZXNcL0FkZENyZWF0dXJl
		RGV0YWlsVmlldy5wbmciLCJydWxlIjp7InByb2Nlc3MiOnt9fX0seyJwYXRo
		IjoiUmVzb3VyY2VzXC9DcmVhdGVBTmV3Vmlld1RvU2hhcmVEYXRhLnBuZyIs
		InJ1bGUiOnsicHJvY2VzcyI6e319fSx7InBhdGgiOiJSZXNvdXJjZXNcL0lu
		dHJvZHVjdGlvbi5wbmciLCJydWxlIjp7InByb2Nlc3MiOnt9fX0seyJwYXRo
		IjoiUmVzb3VyY2VzXC9Nb2RpZnlpbmdTdGF0ZS5wbmciLCJydWxlIjp7InBy
		b2Nlc3MiOnt9fX0seyJwYXRoIjoiUmVzb3VyY2VzXC9OYXZpZ2F0aW5nSW5T
		d2lmdFVJLnBuZyIsInJ1bGUiOnsicHJvY2VzcyI6e319fSx7InBhdGgiOiJS
		ZXNvdXJjZXNcL1ByYWN0aWNlV2l0aFN3aWZ0VUlCdWlsdC1pblZpZXdzLnBu
		ZyIsInJ1bGUiOnsicHJvY2VzcyI6e319fSx7InBhdGgiOiJSZXNvdXJjZXNc
		L1NoYXJpbmdEYXRhQmV0d2VlblZpZXdzLnBuZyIsInJ1bGUiOnsicHJvY2Vz
		cyI6e319fSx7InBhdGgiOiJSZXNvdXJjZXNcL1N3aWZ0VUlCdWlsdC1pblZp
		ZXdzLnBuZyIsInJ1bGUiOnsicHJvY2VzcyI6e319fSx7InBhdGgiOiJSZXNv
		dXJjZXNcL1VzaW5nQUNvbmRpdGlvbmFsTW9kaWZpZXIucG5nIiwicnVsZSI6
		eyJwcm9jZXNzIjp7fX19LHsicGF0aCI6IlJlc291cmNlc1wvQ3JlYXRlWW91
		ck93bkNvcHkucG5nIiwicnVsZSI6eyJwcm9jZXNzIjp7fX19LHsicGF0aCI6
		IlJlc291cmNlc1wvRG9jdW1lbnRUaHVtYm5haWwucG5nIiwicnVsZSI6eyJw
		cm9jZXNzIjp7fX19XSwic2V0dGluZ3MiOltdLCJ0eXBlIjoicmVndWxhciJ9
		fSwidGFyZ2V0cyI6W3siZGVwZW5kZW5jaWVzIjpbeyJieU5hbWUiOlsiR3Vp
		ZGUiLG51bGxdfV0sImV4Y2x1ZGUiOltdLCJuYW1lIjoiQXBwIiwicGF0aCI6
		IkFwcCIsInJlc291cmNlcyI6W10sInNldHRpbmdzIjpbXSwidHlwZSI6ImV4
		ZWN1dGFibGUifSx7ImRlcGVuZGVuY2llcyI6W10sImV4Y2x1ZGUiOltdLCJu
		YW1lIjoiR3VpZGUiLCJwYXRoIjoiR3VpZGUiLCJyZXNvdXJjZXMiOlt7InBh
		dGgiOiJHdWlkZS50dXRvcmlhbCIsInJ1bGUiOnsicHJvY2VzcyI6e319fSx7
		InBhdGgiOiJSZXNvdXJjZXNcL0FkZEFuZERlbGV0ZUNyZWF0dXJlcy5wbmci
		LCJydWxlIjp7InByb2Nlc3MiOnt9fX0seyJwYXRoIjoiUmVzb3VyY2VzXC9B
		ZGRDcmVhdHVyZURldGFpbFZpZXcucG5nIiwicnVsZSI6eyJwcm9jZXNzIjp7
		fX19LHsicGF0aCI6IlJlc291cmNlc1wvQ3JlYXRlQU5ld1ZpZXdUb1NoYXJl
		RGF0YS5wbmciLCJydWxlIjp7InByb2Nlc3MiOnt9fX0seyJwYXRoIjoiUmVz
		b3VyY2VzXC9JbnRyb2R1Y3Rpb24ucG5nIiwicnVsZSI6eyJwcm9jZXNzIjp7
		fX19LHsicGF0aCI6IlJlc291cmNlc1wvTW9kaWZ5aW5nU3RhdGUucG5nIiwi
		cnVsZSI6eyJwcm9jZXNzIjp7fX19LHsicGF0aCI6IlJlc291cmNlc1wvTmF2
		aWdhdGluZ0luU3dpZnRVSS5wbmciLCJydWxlIjp7InByb2Nlc3MiOnt9fX0s
		eyJwYXRoIjoiUmVzb3VyY2VzXC9QcmFjdGljZVdpdGhTd2lmdFVJQnVpbHQt
		aW5WaWV3cy5wbmciLCJydWxlIjp7InByb2Nlc3MiOnt9fX0seyJwYXRoIjoi
		UmVzb3VyY2VzXC9TaGFyaW5nRGF0YUJldHdlZW5WaWV3cy5wbmciLCJydWxl
		Ijp7InByb2Nlc3MiOnt9fX0seyJwYXRoIjoiUmVzb3VyY2VzXC9Td2lmdFVJ
		QnVpbHQtaW5WaWV3cy5wbmciLCJydWxlIjp7InByb2Nlc3MiOnt9fX0seyJw
		YXRoIjoiUmVzb3VyY2VzXC9Vc2luZ0FDb25kaXRpb25hbE1vZGlmaWVyLnBu
		ZyIsInJ1bGUiOnsicHJvY2VzcyI6e319fSx7InBhdGgiOiJSZXNvdXJjZXNc
		L0NyZWF0ZVlvdXJPd25Db3B5LnBuZyIsInJ1bGUiOnsicHJvY2VzcyI6e319
		fSx7InBhdGgiOiJSZXNvdXJjZXNcL0RvY3VtZW50VGh1bWJuYWlsLnBuZyIs
		InJ1bGUiOnsicHJvY2VzcyI6e319fV0sInNldHRpbmdzIjpbXSwidHlwZSI6
		InJlZ3VsYXIifV0sInRvb2xzVmVyc2lvbiI6eyJfdmVyc2lvbiI6IjUuNi4w
		In19
		</data>
		<key>manifestHash</key>
		<data>
		zEclR4HLiLX/6cKEOS7XCP6a7C8b+wm9C6yOHij+aL8=
		</data>
		<key>schemaVersion</key>
		<integer>4</integer>
		<key>swiftPMVersionString</key>
		<string>5.8.0</string>
	</dict>
</dict>
</plist>
