<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Guide.TaskState</key>
	<dict>
		<key>completedTaskIDs</key>
		<array>
			<string>storyEditor</string>
			<string>addCreatures</string>
			<string>navigationExperiment</string>
			<string>animateChangesIsScaled</string>
			<string>addShadowModifier</string>
			<string>addAStateVar</string>
			<string>addSliderShadowRadius</string>
			<string>createAList</string>
			<string>dismissEditor</string>
			<string>creatureDetailWalkthrough</string>
			<string>conditionalCircle</string>
			<string>addACreatureEditorTextField</string>
			<string>animateCreatures</string>
			<string>useIsScaledRotateView</string>
			<string>toggleExperiment</string>
			<string>dancingCreaturesData</string>
			<string>animationWalkthrough</string>
			<string>defineYourView</string>
			<string>addElse</string>
			<string>addNavLinkCreatureDance</string>
			<string>createNewApp</string>
			<string>addNavigationLinkCreatureDetail</string>
			<string>addScaleButton</string>
			<string>customizeCreature</string>
			<string>replaceHStackWithCreatureRow</string>
			<string>deleteACreature</string>
			<string>addNavTitle</string>
			<string>dancingCreaturesView</string>
			<string>customizeConditionalViews</string>
			<string>addButtonToToolbar</string>
			<string>addNavLink</string>
			<string>addAColorModifier</string>
			<string>conditionalViews</string>
			<string>createYourOwn</string>
			<string>addNavView</string>
			<string>addAColorPicker</string>
			<string>addScaleModifier</string>
			<string>addNewConditionalView</string>
			<string>buildASlider</string>
			<string>creatureZoo</string>
			<string>addColorPicker</string>
			<string>addToolBarContentView</string>
			<string>addAnimationModifier</string>
			<string>navigationSplitViewExperiment</string>
			<string>useEnvironmentObject</string>
			<string>defineVariablesCreatureEditor</string>
			<string>addModelData</string>
			<string>addMoreNavLinks</string>
			<string>usingCreatureZoo</string>
			<string>addNavigationTitleCreatureEditor</string>
			<string>experimentWithAnimations</string>
			<string>addATextView</string>
			<string>myApp</string>
			<string>addCreatureToCreatureZoo</string>
		</array>
		<key>hasSeenIntro</key>
		<true/>
		<key>pageIDsWithRevealedSolutions</key>
		<dict>
			<key>addAColorModifier</key>
			<array>
				<string>solution</string>
			</array>
			<key>addACreatureEditorTextField</key>
			<array>
				<string>addTextField</string>
				<string>solution</string>
			</array>
			<key>addButtonToToolbar</key>
			<array>
				<string>solution</string>
			</array>
			<key>addCreatures</key>
			<array>
				<string>addOneMoreCreature</string>
			</array>
			<key>addElse</key>
			<array>
				<string>elseSolution</string>
			</array>
			<key>addNavLinkCreatureDance</key>
			<array>
				<string>Add new link</string>
			</array>
			<key>addNavView</key>
			<array>
				<string>addContentViewInside</string>
			</array>
			<key>addNavigationLinkCreatureDetail</key>
			<array>
				<string>solution</string>
				<string>navLinkToCreatureDetail</string>
			</array>
			<key>addScaleButton</key>
			<array>
				<string>addScaleEffectModifier</string>
				<string>addStateVarIsScaled</string>
				<string>addButton</string>
			</array>
			<key>addShadowModifier</key>
			<array>
				<string>elseCode</string>
			</array>
			<key>addToolBarContentView</key>
			<array>
				<string>solution</string>
			</array>
			<key>buildASlider</key>
			<array>
				<string>rectangle</string>
			</array>
			<key>customizeConditionalViews</key>
			<array>
				<string>customizeExample</string>
			</array>
			<key>defineVariablesCreatureEditor</key>
			<array>
				<string>solution</string>
			</array>
		</dict>
		<key>stepIndex</key>
		<integer>9</integer>
		<key>successMessageShowing</key>
		<false/>
		<key>taskID</key>
		<string>$null</string>
	</dict>
</dict>
</plist>
